* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    border-radius: 20px;
    height: 40px;
    margin-right: 10px;
}


#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(183, 193, 193);
    height: 50px;
    justify-content: space-between;
}

#navigation-bar div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

#navigation-bar ul li {
    font-weight: bold;
    font-size: 16px;
}

.pages {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}



#top-section {
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 60px;
}

#top-section-footer {
    font-size: small;
    font-style: italic;
    color: gray;
}

#main-container {
    display: flex;
    flex-direction: row;

    font-size: x-small;

    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.main-element {
    flex: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: left;
    font-size: x-small;
}

.main-element div{
    padding: 10px;
    font-size: larger;
}
.main-element li {
    padding: 3px;

}

.main-element h2 {
    text-align: center;
}

.main-element ul {
    list-style-type: none;
}

.projects-list {
    font-size: small;
}


#reviews {
    font-size: x-small;
}

.review-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    margin: 20px 0px;
}

.review-element {

    border-radius: 15px;
    flex: 1;
    padding: 10px 10px 10px 10px;
    
    border-width: 1px;
    border-style: solid;

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    height: 80px;
}

.review-element footer {
    color: gray;
    font-weight: bold;
}

#reviews-title {

    text-align: center;
}

#footer {
    padding: 30px 0px;
    background-color: rgb(160, 160, 222);
}

#footer-paragraph {
    text-align: center;
}

#articles-title {
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 20px;
}

.article-element {
    font-size: small;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
}