* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    border-radius: 20px;
    height: 40px;
}


#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(183, 193, 193);
    height: 50px;
}

#navigation-bar div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.pages {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}



#top-section {
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 60px;
}

#top-section-footer {
    font-size: small;
    font-style: italic;
    color: gray;
}

#main-container {
    display: flex;
    flex-direction: row;

    font-size: x-small;

    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.main-element {
    flex: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: left;
    font-size: x-small;
}

.main-element div{
    padding: 10px;
    font-size: larger;
}
.main-element li {
    padding: 3px;

}

.main-element h2 {
    text-align: center;
}

.main-element ul {
    list-style-type: none;
}

.projects-list {
    font-size: small;
}


#reviews {
    font-size: x-small;
}

.review-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.review-element {
    background-color: gray;
}